
@{
    ViewBag.Title = "ClientMenu";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Client Menu</h2>
<br />
<br />
<table class="table table-responsive">
    <tbody>
        <tr>
            <td><input type="button" style="height:50px;width:200px" title="Create Ticket" value="Create Ticket" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Tickets")'" /></td>            
        </tr>
    <tr>            
        <td><input type="button" style="height:50px;width:200px" title="Rate Consultant" value="Rate Consultant" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Rating")'" /></td>
    </tr>
        
    <tr>
        <td><input type="button" style="height:50px;width:200px" title="Sign Off Timesheet" value="Sign Off Timesheet" class="btn btn-primary" onclick="location.href='@Url.Action("ViewTimeheets", "Timesheets")'" /></td>
    </tr>
        
        <tr>
            <td><input type="button" style="height:50px;width:200px" title="Get Quotation" value="Get Quotation" class="btn btn-primary" onclick="location.href='@Url.Action("EditProduct", "Products")'" /></td>
        </tr>
    </tbody>
</table>