
@{
    ViewBag.Title = "TargetChart";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2></h2>
<b>Search by Full Name:</b>
<div align="center">
    <font color="black">
        @Html.DropDownList("Status", new SelectList(ViewBag.Status), new { id = "dropdown", onchange = "updateChart()" })
    </font>
</div>
<img id="chart" src="Chart?status=@ViewBag.Status" />
<script>
    function updateChart()
    {
        var list = document.getElementById('dropdown');
        var value = list.options[list.selectedIndex].value;
        document.getElementById('chart').setAttribute('src', 'Chart?status=' + value);
    }
</script>
<p> </p>
<div>
    <img src="@Url.Action("Chart1")" alt="Chart1" />
</div>


