@using Microsoft.AspNetCore.Mvc.Rendering
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>
    <link href="~/CartCss/Site.css" rel="stylesheet" />
</head>
<body>
<div class="container body-content">
    @RenderBody()
    <hr/>

</div>
</body>
</html>
