@model TSAR.Models.RolesView

@{
    ViewBag.Title = "Assign role to user";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

@using (Html.BeginForm("AnotherUserToRole", "Roles", FormMethod.Get))
{

    <h2>Assign Role to User</h2>
    <br/>
    <br/>
    <table class="table table-responsive">
        <tbody>
        <tr>
            <th class="h4" style="color: white">USER</th>
            <th class="h4" style="color: white">ROLE</th>            
        </tr>
        <tr>
            <td>@Html.DropDownList("MyUser")</td>
            <td>@Html.DropDownList("Hey")</td>
            <td><input type="submit" value="Add User To Role" class="btn btn-primary btn-sm"></td>
            <td><input type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("ManagerMenu", "Manage")'" /></td>
        </tr>
        </tbody>
    </table>
    <br/>
    
}

@ViewBag.Message



