@model TSAR.Models.File
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}
<h2>Add a new document</h2>

@using (Html.BeginForm("Create", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend><b>Upload File:</b></legend>
        <div class="form-group">
            <p><input type="file" id="file" name="file" /></p>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
}

<div align="center">
    <a id="button" href="@Url.Action("Index")" class="btn btn-primary">Back To List</a>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


