
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Your message has been sent</h2>

@*<button class="btn btn-primary" value="dd" onclick="href=/Home/Index""></button>*@
<a href="/Home/Index" class="btn btn-primary">BACK HOME</a>